job "http-echo" {
  datacenters = ["local-cluster"]
  type = "service"
  
  group "echo" {
    
    count = 1
    
    network {
      port "http" {}
    }

    constraint {
      operator  = "distinct_hosts"
      value     = "true"
    }

    service {
        name = "http-echo"
        port = "http"
        tags = ["hp", "urlprefix-/http-echo"]
        check {
            type     = "http"
            path     = "/http-echo"
            interval = "2s"
            timeout  = "2s"
        }
    }

    task "server" {
      driver = "docker"
      config {
        image = "hashicorp/http-echo:latest"
        args  = [
          "-listen", ":${NOMAD_PORT_http}",
          "-text", "Update successful!\n\nHello and welcome to ${NOMAD_IP_http} running on port ${NOMAD_PORT_http}",
        ]
        ports = ["http"]
      }
    }
  }
}
