client {
    enabled = true
    servers = ["10.0.0.4:4647"]
    network_interface = "eth1"
}
plugin "docker" {
  config {
    gc {
      dangling_containers {
        enabled = false
      }
    } 
  }
}